{ 
  "extends": [
    "eslint:recommended", 
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended", 
    "salt-typescript"], 
  "rules": {
    "object-curly-newline": ["error", { "ImportDeclaration": "never" }],
    "no-console": "off",
    "import/extensions": ["error", "never", { "svg": "always", "json": "always" }],
    "react-refresh/only-export-components": "warn",
    "max-len": ["error", { "code": 150 }],
    "import/prefer-default-export": "off",
    "import/no-relative-packages": "off"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-refresh"],
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}