.amount-box {
 height: 24%;
 margin: auto;
 border: 1px solid gray;
}
.icon-container {
  position: relative;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  top: 2px;
  z-index: 100;
}

.amount-text, .message {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  text-align: center; 
  line-height: 0.3em;
  padding: 15px 0px;
  white-space: pre-line; 
  border: 1px solid gray;
}

.message {
  font-size: 0.85em;
}

.price {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.05em;
  line-height: 0.6em;
  color: orange;
  text-align: center; 
}

.digit-container {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 10%;
  border: 1px solid gray;
}

.digit {
  display: flex;
  border: none;
  background-color: transparent;
  color: gray;
  justify-content: center;
  font-size: 1.5em;
  margin: 0 4px;
  width: 20px;
  height: 25px;
  border-bottom: 2px solid grey;
}

.numpad-container, .bottom-button-container {
  height: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4%;
  column-gap: 5px;
  border: 1px solid gray;
  /* margin-top: auto; */
}


.bottom-button-container { 
  width: 100%;
  /* margin-top: 8px; */
} 

.filler {
  height: 2%;
}

.numpad-button, .stop-button, .correct-button, .ok-button {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  background: rgb(246, 136, 11);
  font-size: 0.7em;
  font-weight: 600;
  min-width: 26%;
  margin: 0 auto;
  border-radius: 20px;
 
  &:active {
    background-color: darkgoldenrod;
    border: none;
  }
}

.stop-button {
  background-color:red;
}

.correct-button {
  background-color:rgb(255, 191, 0);
}

.ok-button {
  background-color:rgb(111, 255, 0);
}



.choose-method-container {
  width: 100%;  
  height: 10%;
  position: relative;
  top: -38px
}

.choose-method-button {
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px auto;
  color: white;
  height: 34px;
  font-weight: 300;
  font-size: 0.7em;
  border-radius: 2px;
  cursor: pointer;
  z-index: 300;
  border-radius: 6px;
  background: rgb(246, 136, 11);
}
