.placeholder svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0.05em solid rgb(153, 144, 144);
    background-color: rgb(217, 221, 220);
    
}
.placeholder svg line {
    stroke: rgb(185, 185, 185);
    stroke-width: 1;
}
.placeholder textarea {
    width: 100%;
    height: 100%;
    box-sizing:border-box;
}