# Npm modules directory
node_modules/

# dotenv environment variables file
.env

# Visual Studio Code directory
.vscode/

# Ignore company configurations directory
company-configurations/

# Ignore build directory
build/